<% include header %>
<!doctype html>
<html lang="en">

<head>

  <title>Contact form</title>
  
</head>
<body >
        <form action ="action" >
                Firstname<br> <input type ="text" name ="firstname" pattern="[A-Za-z]{1,}" maxlength="20" required><br>
                Lastname<br> <input type ="text" name ="lastname" maxlength="15" required><br>
                Email<br> <input type ="text" name ="email" maxlength="30" required><br>
              Enter a message<br>
              <textarea name="message" rows="3" cols="20" maxlength="100" required>Any Queries!!</textarea> <br><br>
              <input type ="submit" value ="submit">
              <input type ="reset" value ="reset">
          </form>
          <a href="https://github.com/Susritha96"><i class="fa fa-cloud" style="font-size:48px;color:black" id="git"><br>github</i></a>
          <a href="https://bitbucket.org/SusrithaGade/"><i class="fa fa-archive" style="font-size:48px;color:black" id="bit"><br>bitbucket</i></a>
          <a href="https://www.linkedin.com/in/susritha-gade-65a009172/"><i class="fa fa-paper-plane" style="font-size:48px;color:black" id="link"><br>linkedin</i></a>
      </body>
      </html>
<% include footer %>