article{
	font-style: italic;
	text-align :justify;
	padding-top: 50px
    
}
header{
	font-style: italic;
	text-align : center;
	font-style: oblique; 
	text-align :  center;
}
nav{
	font-style: italic;
	color:black;
	font-size : 22px;
	background-color: #f1f1f1;
}
.about{
	font-style: italic;
	color:black;
	font-size : 15px;
	
}
.abme{
	font-style: italic;
	color:black;
	font-size : 15px;

	
}
.section-header{
	font-style: italic;
	color:black;
	border-bottom: 6px;
}
.aside-header{
	font-style: italic;
	color:black;
	font-size : 15px;
	border-bottom: 6px ;
}
#present-section{
	font-style: italic;
	color: black;
	font-size:15px;
}
#past-section{
font-style: italic;
font-size:15px;
color:black;
}
#future-section{
font-style: italic;
padding: 3px;
font-size:15px;
}
#image{
	height:400px;
	width:300px;
  }
body{
	font-style: italic;
	background-image:url("/images/wallpaper2you_350824.jpg");
	background-repeat: no-repeat;
	background-size: 300%;
}
 ul{
	font-style: italic;
	padding: 15px;
	color: black;
}
i{
	margin-top:50px;
    margin-left:220px;
}
form{
	margin-top: 100px;
	margin-left: 500px;
	font-size: 20px;
}
.select {
	border-radius: 20px;
	height: 40px;
	width: 100px;
	outline: none;
	border-color: blue;
}

.input {
	border-radius: 20px;
	height: 30px;
	width: 350px;
	outline: none;
	border-color: green;
}


